
@import "base-var.scss";

$header_item_size : 20px;
$header_item_top : 10px;
$header_item_font_size : 14px;
$header_item_padding : 5px;
$header_item_spacing : 35px;

.game9ja-header-item-right {
    position: absolute;
    top: $header_item_top; 
    right: $header_item_top;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}

.game9ja-header-item-right-a {
    position: absolute;
    top: $header_item_top; 
    right: $header_item_top + $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}


.game9ja-header-item-right-b {
    position: absolute;
    top: $header_item_top; 
    right: $header_item_top + 2 * $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}

.game9ja-header-item-left {
    position: absolute;
    top: $header_item_top; 
    left: $header_item_size;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}


.game9ja-header-item-left-a {
    position: absolute;
    top: $header_item_top; 
    left: $header_item_size + $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}


.game9ja-header-item-left-b {
    position: absolute;
    top: $header_item_top; 
    left: $header_item_size + 2 * $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}


@media screen and (min-width: 600px) {
    /*Good! Only screen size 768px and above will 
    have no back button. their content will be displayed 
    like desktop . 
    */
    .game9ja-back-btn {
        visibility: hidden; /*hide back button*/
    }
}
