<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <hr/>
        <h4>Test user.js</h4>
        <button id="btn-register" style="margin: 5px;">Register</button>
        <button id="btn-login" style="margin: 5px;">Login</button>
        <button id="btn-add-phone-number" style="margin: 5px;">Add phone number</button>
        <button id="btn-user-info" style="margin: 5px;">Edit info</button>
        <button id="btn-get-info" style="margin: 5px;">Get info</button>
        <button id="btn-get-info-list" style="margin: 5px;">Get info list</button>
        <button id="btn-get-groups-belong" style="margin: 5px;">Get groups belong</button>
        <button id="btn-get-tournaments-belong" style="margin: 5px;">Get tournaments belong</button>
        <br/> <hr/><hr/>
        
        <h4>Test group.js</h4>
        
        <input type="file" id="create-group-icon-file" name="group_icon"/>
        <button id="btn-create-group" style="margin: 5px;">Create group</button>
        <button id="btn-edit-group" style="margin: 5px;">edit group</button>
        <button id="btn-send-group-join-request" style="margin: 5px;">Send group join request</button>
        <button id="btn-accept-group-join-request" style="margin: 5px;">Accept group join request</button>
        <button id="btn-make-admin" style="margin: 5px;">Make admin</button>
        <button id="btn-remove-admin-position" style="margin: 5px;">Remove admin position</button>
        <button id="btn-remove-member" style="margin: 5px;">Remove member</button>
        <button id="btn-get-group-info" style="margin: 5px;">Get group info</button>
        <button id="btn-get-groups-info-list" style="margin: 5px;">Get groups info list</button>
        <button id="btn-get-user-groups-info-list" style="margin: 5px;">Get user groups info list</button>

        <br/> <hr/><hr/>
        
 
        
        <h4>Test contact.js</h4>
        <button id="btn-contact-add" style="margin: 5px;">Add</button><!-- comment already has 'btn-add' as id--->
        <button id="btn-add-bulk" style="margin: 5px;">Add Bulk</button>
        <button id="btn-remove" style="margin: 5px;">Remove</button>
        <button id="btn-remove-bulk" style="margin: 5px;">Remove Bulk</button>
        <button id="btn-set" style="margin: 5px;">Set</button>
        <button id="btn-contacts-phone-nos" style="margin: 5px;">Get contacts phone nos</button>
        <button id="btn-contacts-info-list" style="margin: 5px;">Get contacts info list</button>
        
        <br/> <hr/><hr/>
               
        <h4>Test play-request.js</h4>
        <button id="btn-send-request" style="margin: 5px;">Send request</button>
        <button id="btn-abort" style="margin: 5px;">Abort</button>
        <button id="btn-reject" style="margin: 5px;">Reject</button>
        <br/> <hr/><hr/>
        
        <h4>Test match.js</h4>
        <button id="btn-send-move" style="margin: 5px;">Send move</button>
        <button id="btn-get-game-position" style="margin: 5px;">Get game position</button>
        <button id="btn-start" style="margin: 5px;">Start</button>
        <button id="btn-resume" style="margin: 5px;">Resume</button>
        <button id="btn-pause" style="margin: 5px;">Pause</button>
        <button id="btn-abandon" style="margin: 5px;">Abandon</button>
        <button id="btn-finish" style="margin: 5px;">Finish</button>
        <button id="btn-get-contacts-match-list" style="margin: 5px;">Get contacts match list</button>
        <button id="btn-get-group-match-list" style="margin: 5px;">Get group match list</button>
        <button id="btn-get-tournament-match-list" style="margin: 5px;">Get tournament match list</button>
        <button id="btn-get-user-match-history" style="margin: 5px;">Get user match history</button>
        <br/> <hr/><hr/>
        
        <h4>Test chat.js</h4>
        <button id="btn-get-game-chats" style="margin: 5px;">Get game chats</button>
        <button id="btn-get-group-chats" style="margin: 5px;">Get group chats</button>
        <button id="btn-get-tournament-inhouse-chats" style="margin: 5px;">Get tournament inhouse chats</button>
        <button id="btn-get-tournament-general-chats" style="margin: 5px;">Get tournament general chats</button>
        <button id="btn-get-user-chats" style="margin: 5px;">Get user chats</button>
        <button id="btn-send-game-chat" style="margin: 5px;">Send game chat</button>
        <button id="btn-send-group-chat" style="margin: 5px;">Send group chat</button>
        <button id="btn-send-tournament-inhouse-chat" style="margin: 5px;">Send tournament inhouse chat</button>
        <button id="btn-send-tournament-general-chat" style="margin: 5px;">Send tournament general chat</button>
        <button id="btn-delivery-feedback" style="margin: 5px;">Delivery feedback</button>
        <br/> <hr/><hr/>
        
        <h4>Test comment.js</h4>
        <button id="btn-get-game-comments" style="margin: 5px;">Get game comments</button>
        <button id="btn-get-user-comments" style="margin: 5px;">Get user comments</button>
        <button id="btn-add" style="margin: 5px;">Add</button>
        <button id="btn-like" style="margin: 5px;">Like</button>
        <button id="btn-dislike" style="margin: 5px;">Dislike</button>
        <br/> <hr/><hr/>
        
        <h4>Test stat.js</h4>
        <button id="btn-htoh" style="margin: 5px;">hToh</button>
        <button id="btn-htoh-contact" style="margin: 5px;">hTohContact</button>
        <button id="btn-htoh-group" style="margin: 5px;">hTohGroup</button>
        <button id="btn-htoh-torunament" style="margin: 5px;">hTohTournament</button>
        <br/> <hr/><hr/>
        
        <h4>Test spectator.js</h4>
        <button id="btn-join" style="margin: 5px;">Join</button>
        <button id="btn-leave" style="margin: 5px;">Leave</button>
        <button id="btn-get" style="margin: 5px;">Get</button>
        <br/> <hr/><hr/>
        
        <h4>Test tournament.js</h4>
        <input id="create-tournament-icon-file" type="file" name="tournament_icon"/>
        <button id="btn-create-tournament" style="margin: 5px;">Create tournament</button>
        <button id="btn-edit-tournament" style="margin: 5px;">Edit tournament</button>
        <button id="btn-set-game-sets-count" style="margin: 5px;">Set game sets count</button>
        <button id="btn-add-official" style="margin: 5px;">Add official</button>
        <button id="btn-remove-official" style="margin: 5px;">Remove official</button>
        <button id="btn-register-player" style="margin: 5px;">Register player</button>
        <button id="btn-remove-registered-player" style="margin: 5px;">Remove registered player</button>
        <button id="btn-get-tournament-info" style="margin: 5px;">Get tournament info</button>
        <button id="btn-get-tournaments-info-list" style="margin: 5px;">Get tournaments info list</button>
        <button id="btn-season-new" style="margin: 5px;">Season new</button>
        <button id="btn-season-add-player" style="margin: 5px;">Season add player</button>
        <button id="btn-season-remove-player" style="margin: 5px;">Season remove player</button>
        <button id="btn-season-get-players" style="margin: 5px;">Season get players</button>
        <button id="btn-season-get-slots" style="margin: 5px;">Season get slots</button>
        <button id="btn-season-match-kickoff" style="margin: 5px;">Season match kickoff</button>
        <button id="btn-season-start" style="margin: 5px;">Season start</button>
        <button id="btn-season-cancel" style="margin: 5px;">Season cancel</button>
        <button id="btn-season-delete" style="margin: 5px;">Season delete</button>
        <button id="btn-season-count" style="margin: 5px;">Season count</button>
        <button id="btn-get-seasons" style="margin: 5px;">Get seasons</button>
        <button id="btn-season-table-standings" style="margin: 5px;">Season Table Standings</button>
        
        <br/> <hr/><hr/>
    </body>
</html>
