<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>GameBaba</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../app/css/app-main.css" />
        <link rel="stylesheet" href="../app/css/default-header.css" />
        <link rel="stylesheet" href="../app/css/form.css" />
        <link rel="stylesheet" href="../app/css/choose-icon.css" />
        <link rel="stylesheet" href="../app/css/font-awesome-4.7.0.min.css" />

    </head>

    <body>
        <div id="edit-group">      
            <div class="game9ja-default-header">
                <div>
                    Edit Group
                </div>

                <i id="edit-group-back-btn" class="fa fa-arrow-left game9ja-header-item-left"></i>
            </div>
            <div class="game9ja-form">

                <div>
                    <div><input type="text" id="edit-group-description"  placeholder="Group description" /></div>                    
                </div>

                <div class="game9ja-choose-icon">
                    <div><span >Change icon</span></div>
                    <div><span id="edit-group-select-photo" class="fa fa-camera"></span><input name="group_icon" id="edit-group-photo-file" type="file"/></div>                    
                    <div><img id="edit-group-photo" src=""  alt=""/></div>
                </div>


                <input id="edit-group-btn" type="button" value="Save" />
                <div  class="game9ja-error"></div>
            </div>

        </div>    </body>


</html>
