<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../app/css/header-items.css" />
        <link rel="stylesheet" href="../app/css/group-chat-view.css" />
        <link rel="stylesheet" href="../app/css/chat.css" />
        <link rel="stylesheet" href="../app/css/message-input.css" />
        <link rel="stylesheet" href="../app/css/font-awesome-4.7.0.min.css" />
    </head>
    <body>

        <div class="game9ja-group-chat-view"  id="group-chat-view">
            <div class="game9ja-group-chat-view-header" id="group-chat-view-header">
                <div>
                    <img id="group-chat-view-photo" onerror="Main.helper.loadDefaultGroupPhoto(event)" src="" alt=" "/>
                    <div id="group-chat-view-name"></div>
                    <div id="group-chat-view-status"></div>

                </div>
                <i class="fa fa-arrow-left game9ja-header-item-left game9ja-back-btn" id="group-chat-view-back-btn"></i>
                <i class="fa fa-search game9ja-header-item-right-a" id="group-chat-view-search"></i>
                <i class="fa fa-ellipsis-v game9ja-header-item-right" id="group-chat-view-menu"></i>
            </div>
            <div class="game9ja-group-chat-view-body"  id="group-chat-view-body">
                
            </div>
        </div>

    </body>
</html>


