<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../app/css/app-main.css" />
        <link rel="stylesheet" href="../app/css/game-main.css" />
        <link rel="stylesheet" href="../app/css/header-items.css" />
        <link rel="stylesheet" href="../app/css/notifications.css" />
        <link rel="stylesheet" href="../app/css/user-show-list.css" />
        <link rel="stylesheet" href="../app/css/font-awesome-4.7.0.min.css" />
    </head>
    <body>


        <div class="game9ja-notifications-header">
            <div>
                <span>Notifications</span>
            </div>
            <span>
                <span id="game-notifications">
                    <span><span id="game-notifications-count"><!--1--></span>
                    <span id="game-notifications-text"><!--update.--></span></span>
                </span>
                <span id="game-notifications-play-request">
                    <span id="game-notifications-play-request-count"><!--5--></span>
                    <span id="game-notifications-play-request-text"><!--player(s) waiting.--></span> 
                </span>
            </span>
            
            <i id="game-notifications-back-btn" class="fa fa-arrow-left game9ja-header-item-left game9ja-back-btn"></i>
            <i id="game-notifications-search" class="fa fa-search game9ja-header-item-right-a"></i>
            <i id="game-notifications-menu" class="fa fa-ellipsis-v game9ja-header-item-right"></i>
        </div>


        <div id="game-notifications-body"  class="game9ja-notifications-body">
            <!--
            <ul class="game9ja-user-show-list">

                <li><img  src="../app/images/default_group.png" alt=" "/></li>
                <li>
                    Chuks Alimele
                </li>
                <li>
                    07083924582
                </li>

                <li>
                    <input type="button" value="Start Game"/>
                </li>
                <li>
                    
                </li>
            </ul>

            <ul class="game9ja-user-show-list">

                <li><img  src="../app/images/default_group.png" alt=" "/></li>
                <li>
                    Chuks Alimele
                </li>
                <li>
                    Great Chess Players
                </li>

                <li>
                    <input type="button" value="Start Game"/>
                </li>
                <li>
                    
                </li>
            </ul>


            <ul class="game9ja-user-show-list">

                <li><img  src="../app/images/default_group.png" alt=" "/></li>
                <li>
                    Chuks Alimele
                </li>
                <li>
                    Asaba Chess tournamentss
                </li>

                <li>
                    <input  class="game9ja-kickoff" type="button" value="Kickoffs 12:00PM"/>
                </li>
                <li>
                    Upcoming tournament match
                </li>
            </ul>
            -->
        </div>




    </body>
</html>


