<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <link rel="stylesheet" href="../app/css/header-items.css" />
        <link rel="stylesheet" href="../app/css/rating.css" />
        <link rel="stylesheet" href="../app/css/font-awesome-4.7.0.min.css" />

    </head>
    <body>
        <div class="game9ja-light-header">

            <i data-selection-header="back" class="fa fa-arrow-left game9ja-header-item-left"></i>

            <span data-selection-header="count"  class="game9ja-header-item-right"></span><!--numbers selected-->
            <i data-selection-header="delete"  class="fa fa-trash game9ja-header-item-right-a"></i>
            <i data-selection-header="copy" class="fa fa-copy game9ja-header-item-right-b"></i>
            <i data-selection-header="share" class="fa fa-share game9ja-header-item-right-c"></i>
            <i data-selection-header="reply" class="fa fa-reply game9ja-header-item-right-d"></i>
        </div>

    </body>
</html>
