<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../app/css/font-awesome-4.7.0.min.css" />
        <link rel="stylesheet" href="../app/css/tournament-photo-view.css" />

        <script src="../lib/jquery-1.10.2.min.js"></script>

    </head>
    <body>
        <div id="tournament-photo-view" class="game9ja-tournament-photo-view"> 
            <!--OR <div class="game9ja-tournament-photo-view-with-limited-access" >  --> <!--limited access removes inhouse comment icon-->   

            <div><!--image container-->
                <div id="tournament-photo-view-image-container">
                    <img  id="tournament-photo-view-image" alt=""/>
                </div>
            </div>


            <div id="tournament-photo-view-header-transparent-layer"><!--header transparent layer--></div>
            <div id="tournament-photo-view-header"><!--header-->

                <i  id="tournament-photo-view-back-btn" class="fa fa-arrow-left"></i>

                <span  id="tournament-photo-view-name"><!--Best Chess Championship--></span>

            </div>


            <div id="tournament-photo-view-footer-transparent-layer"><!--footer transparent layer-->
                <div style=""><!--footer-->
                </div>
            </div>

            <div id="tournament-photo-view-footer"><!--footer-->
                <div>
                    <div id="tournament-photo-view-expand"><i class="fa fa-plus-circle"><!--expand the image to largest size--></i></div>
                    <div id="tournament-photo-view-profile"><i class="fa fa-info-circle"><!--click to open the profile view--></i></div>
                    <div id="tournament-photo-view-comment-general"><i class="fa fa-comments-o"><!--comment--></i><span class="number-badge"></span></div>
                    <div id="tournament-photo-view-comment-inhouse"><i class="fa fa-comments"><!--comment--></i><span class="number-badge"></span></div>
                    <div id="tournament-photo-view-share"><i class="fa fa-share-alt"><!--share--></i></div>
                </div>
            </div>
        </div>

        <script>

            var timeout_id;
            function doIt() {
                if (!$("#tournament-photo-view-header-transparent-layer").hasClass("game9ja-fly-down-translucent")) {
                    $("#tournament-photo-view-header-transparent-layer").addClass("game9ja-fly-down-translucent");
                }
                if (!$("#tournament-photo-view-header").hasClass("game9ja-fly-down")) {
                    $("#tournament-photo-view-header").addClass("game9ja-fly-down");
                }

                if (!$("#tournament-photo-view-footer-transparent-layer").hasClass("game9ja-fly-up-translucent")) {
                    $("#tournament-photo-view-footer-transparent-layer").addClass("game9ja-fly-up-translucent");
                }

                if (!$("#tournament-photo-view-footer").hasClass("game9ja-fly-up")) {
                    $("#tournament-photo-view-footer").addClass("game9ja-fly-up");
                }

                clearTimeout(timeout_id);

                timeout_id = setTimeout(function () {
                    $("#tournament-photo-view-header-transparent-layer").removeClass("game9ja-fly-down-translucent");
                    $("#tournament-photo-view-header").removeClass("game9ja-fly-down");

                    $("#tournament-photo-view-footer-transparent-layer").removeClass("game9ja-fly-up-translucent");
                    $("#tournament-photo-view-footer").removeClass("game9ja-fly-up");
                }, 5000);

            }

        </script>

    </body>
</html>
