<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>

        <div class="game9ja-user-profile game9ja-section-container">
            <div><!--user profile pics-->                
                <div><div><img id="user-profile-photo-url" onerror="Main.helper.loadDefaultProfilePhoto(event)" src="" alt=""/></div></div>
                <div id="user-profile-full-name"></div>
                <div id="user-profile-status-message"><!--Best chess player in delta--></div><!--User profile status - expected to be a short phrase-->
                <div id="user-profile-phone-no"><!--+23424594824--></div><!-- the login phone number -->
                <div  id="user-profile-last-modified"><!--Last modified: 30/03/2015--></div><!-- the login phone number -->
                <i id="user-profile-edit" class="fa fa-edit"></i>
                <div><!--transparent header layer--></div>
                <div>
                    <i class="fa fa-arrow-left"  id="user-profile-back-btn"></i>
                    <div  id="user-profile-comment">
                        <i class="fa fa-comments"></i>
                        <span class="number-badge"></span>
                    </div>
                </div>
            </div>
            <div><!--other numbers-->
                <div>Other phone numbers</div>
                <!-- the login phone number must be the first -->
                <div id="user-profile-other-phone-nos"></div>
            </div>
            <div><!--Players ranking-->
                <div>Player ranking</div>                
                <div><span>Position: </span><span><strong  id="user-profile-ranking-position"><!--34 of 2032-->
                        </strong></span> on
                    <i  id="user-profile-ranking-date"><!--May 20, 2017--></i></div>
                <div><span>Score:
                    </span>
                    <span  id="user-profile-ranking-score"><!--3405--></span>
                </div>
                <input type="button" value="Show all players' ranking"/><!--show all the players rankings -->
            </div>
            <div> <!--group belong--><!--shown to the current users of the app only--> 
                <div>Groups belong</div>
                <span  id="user-profile-groups-belong-count"></span>
                <!--list of groups goes below---->

                <div id="user-profile-groups-belong">
                    <!--
                    <ul class="game9ja-simple-list-c">contains three data- image and two texts

                        <li><div><img  src="app/images/black_player.jpg" alt=" "/></div></li>
                        <li>
                            Grace Group
                        </li>
                        <li>
                            Best players
                        </li>

                    </ul>

                    <ul class="game9ja-simple-list-c">contains three data- image and two texts

                        <li><div><img  src="app/images/black_player.jpg" alt=" "/></div></li>
                        <li>
                            Grace Group
                        </li>
                        <li>
                            Best players
                        </li>

                    </ul>   
                    <ul class="game9ja-simple-list-c">contains three data- image and two texts

                        <li><div><img  src="app/images/black_player.jpg" alt=" "/></div></li>
                        <li>
                            Grace Group
                        </li>
                        <li>
                            Best players
                        </li>

                    </ul>   
                    <ul class="game9ja-simple-list-c">contains three data- image and two texts

                        <li><div><img  src="app/images/black_player.jpg" alt=" "/></div></li>
                        <li>
                            Grace Group
                        </li>
                        <li>
                            Best players
                        </li>

                    </ul> 
                    -->
                </div>
            </div>
            <div> <!--group in common--><!--shown if viewing other user profiles  but hidden on the current user profile -  shows the groups the other user viewed profile has in common with the current app user-->
                <div>Groups in common</div> 
                <span id="user-profile-groups-in-common-count"></span>
                <!--list of groups goes below---->
                
                <div id="user-profile-groups-in-common">
                    <!--
                    <ul class="game9ja-simple-list-c">contains three data- image and two texts

                        <li><div><img  src="app/images/black_player.jpg" alt=" "/></div></li>
                        <li>
                            Grace Group
                        </li>
                        <li>
                            Best players
                        </li>

                    </ul>   
                    <ul class="game9ja-simple-list-c">contains three data- image and two texts

                        <li><div><img  src="app/images/black_player.jpg" alt=" "/></div></li>
                        <li>
                            Grace Group
                        </li>
                        <li>
                            Best players
                        </li>

                    </ul>   
                    <ul class="game9ja-simple-list-c">contains three data- image and two texts

                        <li><div><img  src="app/images/black_player.jpg" alt=" "/></div></li>
                        <li>
                            Grace Group
                        </li>
                        <li>
                            Best players
                        </li>

                    </ul>   
                    -->
                </div>
            </div>

            <div><!--Tournament belong-->
                <div>Tournaments belong</div> 
                <span id="user-profile-tournaments-belong-count"></span>
                <!--list of tournament goes below---->
                <div id="user-profile-tournaments-belong">
                    <!--
                <ul class="game9ja-simple-list-b">contains two data - image and a text
                    <li><div><img  src="app/images/black_player.jpg" alt=" "/></div></li>
                    <li>
                        Sapele championship Sapele championship Sapele championship Sapele championship Sapele championship
                    </li>
                </ul>

                <ul class="game9ja-simple-list-b">contains two data - image and a text
                    <li><div><img  src="app/images/black_player.jpg" alt=" "/></div></li>
                    <li>
                        Warri championship
                    </li>
                </ul>
                -->
                </div>
            </div>

        </div>

    </body>
</html>


