/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2017, 6:07:47 PM
    Author     : Engr Chuks
*/

@import "base-var.scss";

$width : 65%;
$msg_margin : 5px;
$box_shadow :  0 1px 1px rgba(0, 0, 0, 0.2);
$tick_color: #222222;


.game9ja-chat{
    position: absolute;
    top : 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    //background: green;
}

.game9ja-chat-body{
    position: absolute;
    top : 0;
    left: 0;
    bottom : $message_input_height;
    width: 100%;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
    //background-color: blue;
}

.game9ja-chat-selected{
    background : #ededde !important;
}

replied{
    position: relative;
    top: 0;        
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #eee;
    color: #777;
    border-radius: 10px;
    padding: 5px;
    max-height: 42px;           
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;


    >:nth-child(1){//from label
                   margin-right: 5px;
    }
    >:nth-child(2){//replied full name
                   font-weight: bold;
    }
    >:nth-child(3){//replied content
                   max-height: 45px;           
                   overflow: hidden;
                   word-wrap: break-word;
    }

}

.game9ja-chat-sent{
    position: relative;
    right: $width - 100%;
    width: $width;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: $box_shadow;
    border-radius : 5px;
    background-color : #fff;
    margin-top: $msg_margin;
    margin-bottom: $msg_margin;

    > :nth-child(1){/*user chat replied*/
        @extend replied
    }
    > :nth-child(2){/*chat message*/
        position: relative;
        top : 0;
        left: 0;
        font-size: 14px;
        color : #444444;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    > :nth-child(3){/*chat time*/
        position: absolute;
        bottom: 5px;        
        right: 10px;
        font-size: 10px;
        color : #888888;
    }

    > .game9ja-seen{/*message sent and delivery and seen indicator*/
        position: relative;
        top: 0px;        
        left: 5px;
        color: #006699;
        font-size: 14px;
        font-weight: bold;
        > :nth-child(1):after{/*message sent and delivery indicator*/
            content: '\2713';
        }
        > :nth-child(2):after{/*message sent and delivery indicator*/
            content: '\2713';
            position: relative;
            top: 0px;        
            left: -15px;
        }
    }

    > .game9ja-delivered{/*message sent and delivery indicator*/
        position: relative;
        top: 0px;        
        left: 5px;
        font-size: 14px;   
        color : $tick_color;
        > :nth-child(1):after{/*message sent and delivery indicator*/
            content: '\2713';
        }
        > :nth-child(2):after{/*message sent and delivery indicator*/
            content: '\2713';
            position: relative;
            top: 0px;        
            left: -15px;
        }
    }

    > .game9ja-sent{/*message sent and delivery indicator*/
        position: relative;
        top: 0px;        
        left: 5px;
        font-size: 14px;   
        color : $tick_color;        
        > :nth-child(1):after{/*message sent and delivery indicator*/
            content: '\2713';
        }
    }

    > .game9ja-not-sent{/*message sent and delivery indicator*/
        position: relative;
        top: 0px;        
        left: 5px;   
        color : $tick_color;        
        > :nth-child(1):after{/*message sent and delivery indicator*/
            content: '...';
        }
    }
}


.game9ja-chat-received{
    position: relative;
    width: $width;
    padding: 5px;
    box-sizing: border-box;
    border-radius : 5px;
    background-color : #fff;
    box-shadow: $box_shadow;
    margin-top: $msg_margin;
    margin-bottom: $msg_margin;
    color : #008800;


    > :nth-child(1){/*full name*/
        position: relative;
        top : 0;
        left: 0;
        font-size: 12px;
    }

    > :nth-child(2){/*user chat replied*/
        @extend replied;
    }

    > :nth-child(3){/*chat message*/
        position: relative;
        top : 0;
        left: 0;
        font-size: 14px;
        white-space: pre-wrap;
    }
    > :nth-child(4){/*chat time ago*/
        width: 100%;
        font-size: 10px;
        text-align: right;
    }

}

