
@import "base-var.scss";
@import "header-items.scss";

.game9ja-default-header{

    @extend .game9ja-header;

    > :nth-child(1){ /*holding title*/
        margin: 0 auto; // try centering it
        width: 200px;     
        height:  100%;
        padding: 5px;
        font-size: 18px;
        text-align: center;
        @include box-sizing(border-box);

    }
   
}