/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2017, 2:24:29 PM
    Author     : Engr Chuks
*/

@import "base-var.scss";

$heading_color : #ddd;
$line_color : #ccc;

.game9ja-dialog{

    position: absolute;    
    width : auto;
    height: auto;
    max-height : 100%;
    color : #222;
    background: white;
    //border : 1px $line_color solid;
    border-top : 5px #444 solid;
    @include border-radius(5px);
    @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
    overflow: hidden;

    > .game9ja-dialog-header{
        //background: yellow;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding : $base_padding;
        text-align: left;        
        border-bottom : 0.8px $line_color solid;
        @include box-sizing(border-box);
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    > .game9ja-dialog-body{
        //background: green;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;    
        overflow: auto;
        padding : $base_padding;
        @include box-sizing(border-box);
        clear: both;
        >:nth-child(1){
            float: left;
        }
        >:nth-child(2){
            float: left;
            margin-left: $base_padding; 
        }

    }

    > .game9ja-dialog-footer{

        //background: blue;

        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        padding : $base_padding;
        clear: both;
        border-top: 0.8px $line_color solid;
        @include box-sizing(border-box);

        input[type=button]{
            float: right;
            margin: $base_padding;
            background: transparent;            
            border-width: 0px;
            outline: none;
            cursor: pointer;

        }


    }
}
