
@import "base-var.scss";

$ctr_height: 40px;

.game9ja-form{
    position: relative;    
    width : 100%;
    max-width: 400px;
    height : 100%;
    font-size: 18px;
    padding: 20px;
    //background-color :  activecaption;
    top:0;
    left:0;    
    @include box-sizing(border-box);
    
    

    > input[type=submit], input[type=button]{
        background: #307e4e;
        color: white;
        border-width: 0px;
        font-size: 22px;
        cursor: pointer;
    }

    > *{
        width: 100%;
        height: $ctr_height;
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
    }

}