/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2017, 9:56:35 AM
    Author     : Engr Chuks
*/

@import "base-var.scss";

$font_color : #444;
$group_img_height : 180px;

grpbutton{
    background-color : transparent;
    cursor: pointer;                
    height : 100%;
    font-size: 14px;
    outline : none;
    border : none;
    border-radius : 2px;
    padding: 0;

    > &:hover{              
        background-color : #eee;
        cursor: pointer;
    } 
}

.game9ja-group-details{
    padding : 0;
    overflow: auto;

    > :nth-child(1){
        border-radius: 0px !important;
        padding : 0 !important;
        position : relative;

        >:nth-child(1){/*group profile pic*/

            width: 100%;
            height: $group_img_height;   
            background: #222;
            overflow: hidden;
            margin: 0;

            > div{/*helper div to help center the group profile pic*/

                max-width: 2 * $group_img_height;
                width: 100%;
                height: 100%;   
                margin: 0 auto;
                > img{/*group profile pic*/
                    width: 100%;
                    height: 100%;  
                }
            }
        }
        >:nth-child(2){/*group name*/
            font-weight: 700;  
            color : $font_color;
            padding-left : $base_padding;
            padding-right : $base_padding;
            box-sizing: border-box;
            //background-color: blue;
        }
        >:nth-child(3){/*group profile status or motto*/
            font-weight: 300;  
            font-size: 12px;
            color: #777;
            padding-left : $base_padding;
            padding-right : $base_padding;
            box-sizing: border-box;            
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            //background-color: red;
        }

        >:nth-child(4){/*edit botton*/
            color: black; 
            position: absolute;
            bottom: $base_padding * 2;
            right: $base_padding * 2;
            cursor: pointer;
        }

        groupheader{
            position: absolute; 
            top: 0; 
            left: 0; 
            height: 40px; 
            width: 100%;
            color: white; 
            z-index: 1; 
        }
        >:nth-child(5){
            @extend groupheader;
            background: black; 
            opacity: 0.3; 
        }
        >:nth-child(6){
            @extend groupheader;

            >:nth-child(1){/*back button*/
                position: absolute; 
                top: 10px;
                left: 10px; 
                cursor: pointer;

            }

            >:nth-child(2){/*comment*/
                position: absolute;
                top: 10px; 
                right: 10px; 
                cursor: pointer;

            }
        }        
    }

    > :nth-child(2){/*group basics*/
        border-radius: 0px !important;
        position : relative;
        >div{
            position : relative;
            font-size: 14px;  
            color : $font_color; 
            height: 30px;
            vertical-align: middle;
            @include box-sizing(box-sizing);
            border-bottom: $list_divider_width $list_divider_color solid;
            > div{
                position : absolute;
                bottom : 0;
                left : 0;
            }
        }
        >:nth-child(2){ /*group settings*/  
            > input[type=button]{
                @extend grpbutton;
            }
        }
        >:nth-child(3){ /*custom notification*/  
            > input[type=button]{
                @extend grpbutton;
            }
        }

    }

    > :nth-child(3){/*group admins*/
        border-radius: 0px !important;
        position : relative;
        > :nth-child(1){
            position : relative;
            font-size: 14px;  
            color : $font_color; 
            height: 30px;
            vertical-align: middle;
            @include box-sizing(box-sizing);
            border-bottom: $list_divider_width $list_divider_color solid;

            > :nth-child(1){//Officials
                            position : absolute;
                            bottom : 2px;
                            left : 0;
                            font-size: 20px; 
            }

            > :nth-child(2){//Add
                            position : absolute;
                            bottom : 2px;
                            right : $base_padding;
                            font-size: 14px;
                            background-color: transparent;
                            border-color: green;
                            outline: none;
            }
        }

    }

    > :nth-child(4){/*group members*/
        border-radius: 0px !important;
        position : relative;
        > :nth-child(1){
            position : relative;
            font-size: 14px;  
            color : $font_color; 
            height: 30px;
            vertical-align: middle;
            @include box-sizing(box-sizing);
            border-bottom: $list_divider_width $list_divider_color solid;

            > :nth-child(1){//Officials
                            position : absolute;
                            bottom : 2px;
                            left : 0;
                            font-size: 20px; 
            }

            > :nth-child(2){//Add
                            position : absolute;
                            bottom : 2px;
                            right : $base_padding;
                            font-size: 14px;
                            background-color: transparent;
                            border-color: green;
                            outline: none;
            }
        }

    }



} 

.game9ja-exit-group-btn{
    background: transparent !important;
    font-size: 10px !important;
    color: #ff0000 !important;
    border: 1px #ff0000 solid !important;
    width: 65px !important;
    height : 20px !important;
}