
@import "base-var.scss";

$header_item_size : 20px;
$header_item_top : 5px;
$header_item_font_size : 14px;
$header_item_padding : 5px;
$header_item_spacing : 30px;

.game9ja-header-item-right {
    position: absolute;
    top: $header_item_top; 
    right: $header_item_top;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}

.game9ja-header-item-right-a {
    position: absolute;
    top: $header_item_top; 
    right: $header_item_top + $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}


.game9ja-header-item-right-b {
    position: absolute;
    top: $header_item_top; 
    right: $header_item_top + 2 * $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}

.game9ja-header-item-right-c {
    position: absolute;
    top: $header_item_top; 
    right: $header_item_top + 3 * $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}

.game9ja-header-item-right-d {
    position: absolute;
    top: $header_item_top; 
    right: $header_item_top + 4 * $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}

.game9ja-header-item-right-e {
    position: absolute;
    top: $header_item_top; 
    right: $header_item_top + 5 * $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}

.game9ja-header-item-left {
    position: absolute;
    top: $header_item_top; 
    left: $header_item_size;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}


.game9ja-header-item-left-a {
    position: absolute;
    top: $header_item_top; 
    left: $header_item_size + $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}


.game9ja-header-item-left-b {
    position: absolute;
    top: $header_item_top; 
    left: $header_item_size + 2 * $header_item_spacing;
    font-size: $header_item_font_size;   
    cursor: pointer;
    width: $header_item_size;
    height: $header_item_size;
    padding: $header_item_padding;
    @include box-sizing(border-box);
}

