
@import "base-var.scss";


/*------style live games list item-------*/

/*the games list item class*/
.game9ja-live-games-list{
    position: relative;
    width: 100%;
    height: $list_item_height;  
    border-bottom-width: $list_divider_width;
    border-bottom-color: $list_divider_color;
    border-bottom-style: solid;  
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.game9ja-live-games-list:hover{
     background-color: $list_item_hover_color;
}

/*1st content is expected to show white player full name*/
.game9ja-live-games-list > :nth-child(1){
    position: absolute;
    //left : 50px;//old
    left : 5px;//new
    //top : 2px;//old
    bottom : 2px;//new
    width: 100px;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*2nd content is expected to show black player full name*/
.game9ja-live-games-list > :nth-child(2){
    position: absolute;
    //right : 50px;//old
    right : 5px;//new
    bottom: 2px;
    width: 100px;
    text-align: right;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*3rd content is expected to show game elapse time*/
.game9ja-live-games-list > :nth-child(3){
    position: absolute;
    margin : 0 auto;
    top : 5px;
    width: 100%;
    text-align: center;
    color: #aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    text-shadow: rgba(170,170,170, 0.9) 0px 0.3px 0.5px;
}

/*4th content is expected to show the game score and game status in a div container*/
.game9ja-live-games-list > :nth-child(4){
    position: absolute;
    margin : 0 auto;
    top: 40%;
    color: #998;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

/*stlye the game score*/
.game9ja-live-games-list > :nth-child(4) > :nth-child(1){
    margin-right: 10px;
}


/*5th content is expected to show white player profile photo*/
.game9ja-live-games-list > :nth-child(5){
    position: absolute;
    //left : 5px;//old
    left : 20px;//new
    top : 5px;
    height: 40px;
    width: 40px;
    @include border-radius(50%);
    cursor: pointer;
    overflow: hidden;
}
.game9ja-live-games-list > :nth-child(5) > img{
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    @include border-radius(50%);
}

/*6th content is expected to show black player profile photo*/
.game9ja-live-games-list > :nth-child(6){
    position: absolute;
    //right : 5px;//old
    right : 20px;
    top : 5px;
    height: 40px;
    width: 40px;    
    @include border-radius(50%);
    cursor: pointer;
    overflow: hidden;
}
.game9ja-live-games-list > :nth-child(6) > img{
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    @include border-radius(50%);
}
