/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 19, 2017, 1:18:56 AM
    Author     : Engr Chuks
*/

@import "base-var.scss";

$awesome_fnt_size : 18px;

.game9ja-message-input{
    position: absolute;

    left :0px;
    bottom: 0;
    width: 100%; 
    height: $message_input_height;
    background: $small_header_bg;
    color : $base_text_color;
    
    > :nth-child(1){//reply
                    position: absolute;
                    left :$message_input_height;
                    right: $message_input_height;
                    bottom: $message_input_height;
                    padding: 10px;
                    box-sizing: border-box;
                    overflow: hidden;
                    margin: 0;
                    background: #eee;
                    color: #222;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
                    display: none;

                    >:nth-child(1){
                        >span{//the reply full name
                              padding-left: 5px;
                              font-weight: bold;
                        }
                        >i{//the close button
                           position: absolute; 
                           right: 5px;
                           top: 2px;
                           cursor: pointer;
                        }
                    }

                    >:nth-child(2){//reply content
                                   padding: 5px; 
                                   max-height: 50px; 
                                   overflow: hidden; 
                                   text-overflow: ellipsis;
                                   white-space: pre-wrap;
                                   word-wrap: break-word;
                    }
    }
   
    > :nth-child(2){//emoji
                    position: absolute;
                    bottom: $message_input_height;
                    padding: 10px;
                    box-sizing: border-box;
                    width: 100%; 
                    overflow: hidden;
                    margin: 0;
                    background: #fff;
                    color: #222;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
                    display: none;

                    >:nth-child(1){
                        >span{//the headings
                              margin-right: 10px;
                              cursor: pointer;
                        }
                        >i{//the close button
                           position: absolute; 
                           right: 5px;
                           top: 2px;
                           cursor: pointer;
                        }
                    }

                    >:nth-child(2){//emojis content
                                   padding: 5px;
                                   height: 200px;
                                   overflow: auto;
                    }
    }

    > :nth-child(3){
        height: $message_input_height;
        position: absolute;
        left :0;
        right: 40px; 
        //background-color: green;

        > :nth-child(1){//image icon or pic to load emoji - see whatapp
                        height: $message_input_height;
                        position: absolute; 
                        left :0; 
                        width: $message_input_height; 
                        //background-color: brown;
                        padding: ($message_input_height - $awesome_fnt_size)/2;
                        box-sizing: border-box;

                        > i{
                            font-size : $awesome_fnt_size;
                            cursor: pointer;
                        }
        }
        > :nth-child(2){//input div wrapper - a helper to enable flexing the test field
                        height: $message_input_height;
                        position: absolute; 
                        left :$message_input_height;
                        right: 0;
                        overflow: hidden;
                        //background-color: rosybrown;

                        > textarea{
                            padding: 10px;
                            box-sizing: border-box;
                            height: $message_input_height; 
                            width: 100%; 
                            border: none; 
                            border-bottom: #555 1px solid;
                            overflow: hidden;
                            margin: 0;
                        }
        }
    }

    >:nth-child(4){
        height: $message_input_height;
        position: absolute;
        font-size : $awesome_fnt_size;
        padding: ($message_input_height - $awesome_fnt_size)/2;
        padding-left: 10px;
        box-sizing: border-box;
        right: 0px; 
        top: 0px; 
        width: 40px; 
        cursor: pointer;
        //background-color: #00bb00;
    }

}