/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 1, 2017, 4:28:52 PM
    Author     : Engr Chuks
*/
@import "base-var.scss";
@import "header-items.scss";



.game9ja-play-notifications-header{
    @extend .game9ja-header;
    > :nth-child(1){
        > :nth-child(1){
            font-size : 20px !important;
        }
    }
    > :nth-child(2){
        color: #ccc !important;
        font-size: 11px;
        font-style: italic;
    }
}

