
@import "base-var.scss";


$hgap : 5px;
$label_width : 70%;
$profile_img_size : $list_item_height - 2 * $hgap;
$profile_img_size_b : 40px;

.game9ja-simple-list-a{
    position: relative;
    width: 100%;
    height: 40px; 
    border-bottom-width: $list_divider_width;
    border-bottom-color: $list_divider_color;
    border-bottom-style: solid;  
    margin: 0;
    padding: 0;
    list-style-type: none;

    &:hover{
        background-color: $list_item_hover_color;
    }
}

.game9ja-simple-list-b{
    position: relative;
    width: 100%;
    height: 50px; 
    border-bottom-width: $list_divider_width;
    border-bottom-color: $list_divider_color;
    border-bottom-style: solid;  
    margin: 0;
    padding: 0;
    list-style-type: none;

    &:hover{
        background-color: $list_item_hover_color;
    }
}

.game9ja-simple-list-c{
    position: relative;
    width: 100%;
    height: $list_item_height; 
    border-bottom-width: $list_divider_width;
    border-bottom-color: $list_divider_color;
    border-bottom-style: solid;  
    margin: 0;
    padding: 0;
    list-style-type: none;

    &:hover{
        background-color: $list_item_hover_color;
    }
}

.game9ja-simple-list-a{

    > :nth-child(1){
        position: absolute;
        top: 15px;
        font-size: 14px;
        left: $base_padding;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #555;
        //background: red;
    }

}

.game9ja-simple-list-b{

    > :nth-child(1) > div{/*profile pic container to help centering and setting border radius*/
        width: $profile_img_size_b;
        height: $profile_img_size_b;
        position: absolute;
        top: $hgap;
        left: $hgap;
        overflow: hidden;
        @include border-radius(50%);
        
        >  img{/*profile pic*/
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
        }
    }


    > :nth-child(2){/*full name*/
        position: absolute;
        top: 20px;
        left:  $profile_img_size_b + 2 * $hgap;
        font-size: 14px;
        width: $label_width;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #555;
    }

}

.game9ja-simple-list-c{


    > :nth-child(1) > div{/*profile pic container to help centering and setting border radius*/
        width: $profile_img_size;
        height: $profile_img_size;
        position: absolute;
        top: $hgap;
        left: $hgap;
        overflow: hidden;
        @include border-radius(50%);
        
        >  img{/*profile pic*/
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
        }
    }


    > :nth-child(2){/*full name*/
        position: absolute;
        top: 5px;
        left:  $profile_img_size + 2 * $hgap;
        font-size: 14px;
        width: $label_width;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #555;
    }


    > :nth-child(3){/*phone number*/
        @extend :nth-child(2);
        top: 30px;
        font-size: 12px;
        color: #888;
    }

}