
@import "base-var.scss";

.game9ja-tab{
    //background-color : yellow;
    position :relative;
    top : 0;
    left: 0;
    bottom : 0;
    width : 100%;

    > .game9ja-tab-header{
        @extend .game9ja-footer;
        background: $small_header_bg;
        position :absolute;
        top : 0;
        > button{
            float: left;
            height: 100%;
            width: 33.33%;
            background: transparent;
            color: inherit;
            border-width: 0px;
            outline: none;
            font-size : 14px;
        }
        > button:hover{           
            color: #00dd00;
        }

        > .game9ja-tab-active{           
            color: #00dd00;
            border-bottom: 2px #00dd00 solid;
        }

        clear: both;
    }

    > .game9ja-tab-body{
        position: absolute;
        top : $small_header_height;
        bottom: 0;
        left: 0;
        width: 100%;
        //height: 100%;
        //background: blue;
        overflow: hidden;//!important. must be hidden so that swipe event will work properly on Android (a known issue)
        > div{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

    }


}

.game9ja-tab-padding{
    padding: 10px  0;
    @include box-sizing(border-box);
}