

@import "base-var.scss";

$row_height : 30px;

%row{
    width: 100%; 
    height: $row_height; 
    > div{
        display: inline-block;   
        height: 100%;
        padding: 2px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include box-sizing(border-box);    
    }   
}

.game9ja-table{

    background-color: brown;

    > .game9ja-table-header{
        @extend %row;
        position : absolute;
        top: 0;
        height: $row_height;
        background-color: blue;
    }

    > .game9ja-table-body{
        position : absolute;
        top: $row_height;
        bottom: 0;
        width: 100%;
        overflow: auto;
        
        background-color: yellow;
    }

    > .game9ja-table-body > .game9ja-table-body-row{            
        @extend %row;          
    }    

}