/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2017, 6:07:47 PM
    Author     : Engr Chuks
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2017, 3:37:46 PM
    Author     : Engr Chuks
*/
.game9ja-header, .game9ja-light-header {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background: #222;
  color: #eee; }

.game9ja-light-header {
  background: #565; }

.game9ja-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #222;
  color: #eee; }

.game9ja-chat {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0; }

.game9ja-chat-body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 40px;
  width: 100%;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  overflow: auto; }

.game9ja-chat-selected {
  background: #ededde !important; }

replied, .game9ja-chat-sent > :nth-child(1), .game9ja-chat-received > :nth-child(2) {
  position: relative;
  top: 0;
  font-size: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #eee;
  color: #777;
  border-radius: 10px;
  padding: 5px;
  max-height: 42px;
  overflow: hidden;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px; }
  replied > :nth-child(1), .game9ja-chat-sent > :nth-child(1) > :nth-child(1), .game9ja-chat-received > :nth-child(2) > :nth-child(1) {
    margin-right: 5px; }
  replied > :nth-child(2), .game9ja-chat-sent > :nth-child(1) > :nth-child(2), .game9ja-chat-received > :nth-child(2) > :nth-child(2) {
    font-weight: bold; }
  replied > :nth-child(3), .game9ja-chat-sent > :nth-child(1) > :nth-child(3), .game9ja-chat-received > :nth-child(2) > :nth-child(3) {
    max-height: 45px;
    overflow: hidden;
    word-wrap: break-word; }

.game9ja-chat-sent {
  position: relative;
  right: -35%;
  width: 65%;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 5px; }
  .game9ja-chat-sent > :nth-child(1) {
    /*user chat replied*/ }
  .game9ja-chat-sent > :nth-child(2) {
    /*chat message*/
    position: relative;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #444444;
    white-space: pre-wrap;
    word-wrap: break-word; }
  .game9ja-chat-sent > :nth-child(3) {
    /*chat time*/
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    color: #888888; }
  .game9ja-chat-sent > .game9ja-seen {
    /*message sent and delivery and seen indicator*/
    position: relative;
    top: 0px;
    left: 5px;
    color: #006699;
    font-size: 14px;
    font-weight: bold; }
    .game9ja-chat-sent > .game9ja-seen > :nth-child(1):after {
      /*message sent and delivery indicator*/
      content: '\2713'; }
    .game9ja-chat-sent > .game9ja-seen > :nth-child(2):after {
      /*message sent and delivery indicator*/
      content: '\2713';
      position: relative;
      top: 0px;
      left: -15px; }
  .game9ja-chat-sent > .game9ja-delivered {
    /*message sent and delivery indicator*/
    position: relative;
    top: 0px;
    left: 5px;
    font-size: 14px;
    color: #222222; }
    .game9ja-chat-sent > .game9ja-delivered > :nth-child(1):after {
      /*message sent and delivery indicator*/
      content: '\2713'; }
    .game9ja-chat-sent > .game9ja-delivered > :nth-child(2):after {
      /*message sent and delivery indicator*/
      content: '\2713';
      position: relative;
      top: 0px;
      left: -15px; }
  .game9ja-chat-sent > .game9ja-sent {
    /*message sent and delivery indicator*/
    position: relative;
    top: 0px;
    left: 5px;
    font-size: 14px;
    color: #222222; }
    .game9ja-chat-sent > .game9ja-sent > :nth-child(1):after {
      /*message sent and delivery indicator*/
      content: '\2713'; }
  .game9ja-chat-sent > .game9ja-not-sent {
    /*message sent and delivery indicator*/
    position: relative;
    top: 0px;
    left: 5px;
    color: #222222; }
    .game9ja-chat-sent > .game9ja-not-sent > :nth-child(1):after {
      /*message sent and delivery indicator*/
      content: '...'; }

.game9ja-chat-received {
  position: relative;
  width: 65%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  margin-bottom: 5px;
  color: #008800; }
  .game9ja-chat-received > :nth-child(1) {
    /*full name*/
    position: relative;
    top: 0;
    left: 0;
    font-size: 12px; }
  .game9ja-chat-received > :nth-child(2) {
    /*user chat replied*/ }
  .game9ja-chat-received > :nth-child(3) {
    /*chat message*/
    position: relative;
    top: 0;
    left: 0;
    font-size: 14px;
    white-space: pre-wrap; }
  .game9ja-chat-received > :nth-child(4) {
    /*chat time ago*/
    width: 100%;
    font-size: 10px;
    text-align: right; }

/*# sourceMappingURL=chat.css.map */
