/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2017, 10:56:46 AM
    Author     : Engr Chuks
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2017, 3:37:46 PM
    Author     : Engr Chuks
*/
.game9ja-header, .game9ja-light-header, .game9ja-game-view-header {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background: #222;
  color: #eee; }

.game9ja-light-header {
  background: #565; }

.game9ja-footer, .game9ja-game-view-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #222;
  color: #eee; }

.game9ja-game-view {
  /*background:background;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: rbga(255, 255, 255, 0.5) 0px 3px 3px; }

.game9ja-game-view-header {
  position: relative; }
  .game9ja-game-view-header > div {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    /*mobile first*/ }
    .game9ja-game-view-header > div > :nth-child(1) {
      /* holds white player full name*/
      position: absolute;
      top: 35px;
      font-size: 11px;
      left: 0;
      width: 35%;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .game9ja-game-view-header > div > :nth-child(2) {
      /* holds white player profile pic*/
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      left: 23.3333333333%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer; }
    .game9ja-game-view-header > div > :nth-child(3), .game9ja-game-view-header > div > :nth-child(4) {
      /* holds score*/
      position: absolute;
      top: 15px;
      left: 35%;
      right: 35%;
      text-align: center; }
    .game9ja-game-view-header > div > :nth-child(4) {
      /*holds live status indicator*/
      top: 32px;
      color: #00aa00; }
    .game9ja-game-view-header > div > :nth-child(5) {
      /* holds black player profile pic*/
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      right: 23.3333333333%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer; }
    .game9ja-game-view-header > div > :nth-child(6) {
      /* holds black player full name*/
      position: absolute;
      top: 35px;
      font-size: 11px;
      right: 0;
      width: 35%;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  @media screen and (min-width: 600px) {
    .game9ja-game-view-header > div {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-width: 330px;
      position: relative;
      /* device larger than smart phones e.g tablet and desktop*/ }
      .game9ja-game-view-header > div > :nth-child(1) {
        /* holds white player full name*/
        position: absolute;
        top: 20px;
        font-size: 14px;
        left: 0px;
        width: 100px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .game9ja-game-view-header > div > :nth-child(1) {
        /* holds white player full name*/
        position: absolute;
        top: 20px;
        font-size: 14px;
        left: 0px;
        width: 100px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .game9ja-game-view-header > div > :nth-child(2) {
        /* holds white player profile pic*/
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 105px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer; }
      .game9ja-game-view-header > div > :nth-child(3), .game9ja-game-view-header > div > :nth-child(4) {
        /* holds score*/
        width: 50px;
        position: absolute;
        top: 15px;
        left: 140px;
        text-align: center; }
      .game9ja-game-view-header > div > :nth-child(4) {
        /*holds live status indicator*/
        width: 50px;
        position: absolute;
        left: 140px;
        text-align: center;
        font-size: 16px;
        top: 32px;
        color: #00aa00;
        font-family: sans-serif;
        font-weight: 700; }
      .game9ja-game-view-header > div > :nth-child(5) {
        /* holds black player profile pic*/
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 195px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer; }
      .game9ja-game-view-header > div > :nth-child(6) {
        /* holds black player full name*/
        position: absolute;
        top: 20px;
        font-size: 14px;
        left: 230px;
        width: 100px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; } }

.game9ja-game-view-footer {
  clear: both;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .game9ja-game-view-footer > div {
    /* holds footer items*/
    float: left;
    cursor: pointer;
    border-left: rgba(0, 0, 0, 0.3) solid 2px;
    padding-left: 5px;
    padding-top: 3px;
    box-sizing: border-box;
    font-size: 12px;
    width: 20%;
    height: 100%; }
    .game9ja-game-view-footer > div > div {
      width: 100%;
      font-size: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  @media screen and (min-width: 480px) {
    .game9ja-game-view-footer > div {
      /* holds footer item*/
      width: 20%;
      float: left;
      cursor: pointer;
      border-left: rgba(0, 0, 0, 0.3) solid 2px;
      padding-left: 10px;
      padding-top: 3px;
      box-sizing: border-box;
      margin-right: 0px; } }

.game9ja-game-view-body {
  width: 100%;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 50px;
  bottom: 35px;
  color: #ddd;
  /*mobile first*/ }
  .game9ja-game-view-body > :nth-child(1) {
    /* holds center panel for game playiing area e.g game board*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px; }
    .game9ja-game-view-body > :nth-child(1) > :nth-child(1) {
      /*center the upper panel inside the center panel*/
      position: relative;
      margin: 0 auto;
      background-color: #307e4e; }
      .game9ja-game-view-body > :nth-child(1) > :nth-child(1) > :nth-child(1) {
        /*the oppontent countdown time in the upper panel*/
        position: absolute;
        bottom: 0px;
        left: 5px;
        font-size: 12px; }
      .game9ja-game-view-body > :nth-child(1) > :nth-child(1) > :nth-child(2) {
        /*the feedback display in the upper panel*/
        margin: 0 auto;
        max-width: 100%;
        font-size: 14px;
        font-style: italic;
        color: #00bb00;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 3px; }
      .game9ja-game-view-body > :nth-child(1) > :nth-child(1) > :nth-child(3), .game9ja-game-view-body > .game9ja-game-view-header:nth-child(1) > div:nth-child(1) > :nth-child(4) {
        /*the oppontent win, loss, draw, display*/
        position: absolute;
        bottom: 0px;
        right: 5px;
        width: 200px;
        text-align: right;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .game9ja-game-view-body > :nth-child(1) > :nth-child(2) {
      /*center the board panel inside the center panel*/
      position: relative;
      margin: 0 auto;
      background: black; }
    .game9ja-game-view-body > :nth-child(1) > :nth-child(3), .game9ja-game-view-header.game9ja-game-view-body > div:nth-child(1) > :nth-child(4) {
      /*center the lower panel inside the center panel*/
      position: relative;
      margin: 0 auto;
      background-color: #307e4e; }
      .game9ja-game-view-body > :nth-child(1) > :nth-child(3) > :nth-child(1), .game9ja-game-view-header.game9ja-game-view-body > div:nth-child(1) > :nth-child(4) > :nth-child(1) {
        /*the user countdown time in the lower panel*/
        position: absolute;
        top: 2px;
        left: 5px;
        font-size: 12px; }
      .game9ja-game-view-body > :nth-child(1) > :nth-child(3) > :nth-child(2), .game9ja-game-view-header.game9ja-game-view-body > div:nth-child(1) > :nth-child(4) > :nth-child(2) {
        /*the user win, loss, draw display*/
        position: absolute;
        top: 2px;
        right: 5px;
        width: 200px;
        text-align: right;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .game9ja-game-view-body > :nth-child(2) {
    /* holds right panel for chats, comments etc*/
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    display: none;
    box-shadow: -1.5px 0px 1px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=game-view.css.map */
