/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2017, 3:37:46 PM
    Author     : Engr Chuks
*/
.game9ja-header, .game9ja-light-header {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background: #222;
  color: #eee; }

.game9ja-light-header {
  background: #565; }

.game9ja-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #222;
  color: #eee; }

/*------style live games list item-------*/
/*the games list item class*/
.game9ja-live-games-list {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom-width: 0.0325em;
  border-bottom-color: #eee;
  border-bottom-style: solid;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.game9ja-live-games-list:hover {
  background-color: #efe; }

/*1st content is expected to show white player full name*/
.game9ja-live-games-list > :nth-child(1) {
  position: absolute;
  left: 5px;
  bottom: 2px;
  width: 100px;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/*2nd content is expected to show black player full name*/
.game9ja-live-games-list > :nth-child(2) {
  position: absolute;
  right: 5px;
  bottom: 2px;
  width: 100px;
  text-align: right;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/*3rd content is expected to show game elapse time*/
.game9ja-live-games-list > :nth-child(3) {
  position: absolute;
  margin: 0 auto;
  top: 5px;
  width: 100%;
  text-align: center;
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  text-shadow: rgba(170, 170, 170, 0.9) 0px 0.3px 0.5px; }

/*4th content is expected to show the game score and game status in a div container*/
.game9ja-live-games-list > :nth-child(4) {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  color: #998;
  width: 100%;
  text-align: center;
  font-size: 12px; }

/*stlye the game score*/
.game9ja-live-games-list > :nth-child(4) > :nth-child(1) {
  margin-right: 10px; }

/*5th content is expected to show white player profile photo*/
.game9ja-live-games-list > :nth-child(5) {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden; }

.game9ja-live-games-list > :nth-child(5) > img {
  position: absolute;
  height: 40px;
  width: 40px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

/*6th content is expected to show black player profile photo*/
.game9ja-live-games-list > :nth-child(6) {
  position: absolute;
  right: 20px;
  top: 5px;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden; }

.game9ja-live-games-list > :nth-child(6) > img {
  position: absolute;
  height: 40px;
  width: 40px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

/*# sourceMappingURL=live-games-list.css.map */
