/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2017, 3:37:46 PM
    Author     : Engr Chuks
*/
.game9ja-header, .game9ja-performance-view > .game9ja-performance-view-header {
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #333;
  background: #222;
  color: #eee; }

.game9ja-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #222;
  color: #eee; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2017, 3:37:46 PM
    Author     : Engr Chuks
*/
.game9ja-header, .game9ja-performance-view > .game9ja-performance-view-header {
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #333;
  background: #222;
  color: #eee; }

.game9ja-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #222;
  color: #eee; }

.game9ja-header-item-right {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-right-a {
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-right-b {
  position: absolute;
  top: 10px;
  right: 70px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-left {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-left-a {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-left-b {
  position: absolute;
  top: 10px;
  left: 80px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-width: 600px) {
  /*Good! Only screen size 768px and above will 
  have no back button. their content will be displayed 
  like desktop . 
  */
  .game9ja-back-btn {
    visibility: hidden;
    /*hide back button*/ } }
.game9ja-performance-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%; }
  .game9ja-performance-view > .game9ja-performance-view-header {
    position: relative; }
    .game9ja-performance-view > .game9ja-performance-view-header > :nth-child(1) {
      /*holding title*/
      margin: 0 auto;
      width: 200px;
      height: 100%;
      padding: 5px;
      font-size: 18px;
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .game9ja-performance-view > .game9ja-performance-view-season {
    position: relative;
    font-size: 14px;
    color: #444;
    height: 30px;
    border-bottom: 0.0325em #eee solid; }
    .game9ja-performance-view > .game9ja-performance-view-season > :nth-child(1) {
      position: absolute;
      bottom: 0;
      left: 5px;
      font-size: 20px; }
      .game9ja-performance-view > .game9ja-performance-view-season > :nth-child(1) > :nth-child(1) {
        font-size: 24px; }
      .game9ja-performance-view > .game9ja-performance-view-season > :nth-child(1) > :nth-child(2) {
        font-size: 11px;
        margin-left: 30px; }
    .game9ja-performance-view > .game9ja-performance-view-season > :nth-child(2) {
      position: absolute;
      bottom: 0;
      right: 5px;
      font-size: 14px;
      cursor: pointer; }
  .game9ja-performance-view > .game9ja-performance-view-display td, .game9ja-performance-view th {
    border-bottom: 1px solid #ddd;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .game9ja-performance-view > .game9ja-performance-view-display {
    position: relative;
    border-collapse: collapse;
    width: 100%; }
    .game9ja-performance-view > .game9ja-performance-view-display > thead > tr {
      height: 30px; }
    .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr {
      height: 40px; }
      .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr:hover {
        background-color: #eee; }
      .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr > :nth-child(1) {
        width: 20px;
        min-width: 20px;
        max-width: 30px; }
      .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr > :nth-child(2) {
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        cursor: pointer; }
        .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr > :nth-child(2) > div {
          /*helper div to help center the tournament profile pic*/
          width: 36px;
          height: 36px;
          margin: 0 auto; }
          .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr > :nth-child(2) > div > img {
            /* profile pic*/
            width: 36px;
            height: 36px;
            border-radius: 50%; }
      .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr > :nth-child(3) {
        min-width: 100px;
        max-width: 100px;
        text-align: left;
        padding-left: 5px;
        cursor: pointer; }
      .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr > :nth-child(4) {
        width: 20px;
        min-width: 20px;
        max-width: 30px; }
      .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr > :nth-child(5) {
        width: 20px;
        min-width: 20px;
        max-width: 30px; }
      .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr > :nth-child(6) {
        width: 20px;
        min-width: 20px;
        max-width: 30px; }
      .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr > :nth-child(7) {
        width: 20px;
        min-width: 20px;
        max-width: 30px; }
      .game9ja-performance-view > .game9ja-performance-view-display > tbody > tr > :nth-child(8) {
        width: 20px;
        min-width: 20px;
        max-width: 30px; }

/*# sourceMappingURL=performance-view.css.map */
