/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2017, 3:37:46 PM
    Author     : Engr Chuks
*/
.game9ja-header, .game9ja-light-header, .game9ja-rankings > .game9ja-rankings-header {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background: #222;
  color: #eee; }

.game9ja-light-header {
  background: #565; }

.game9ja-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #222;
  color: #eee; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2017, 3:37:46 PM
    Author     : Engr Chuks
*/
.game9ja-header, .game9ja-light-header, .game9ja-rankings > .game9ja-rankings-header {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background: #222;
  color: #eee; }

.game9ja-light-header {
  background: #565; }

.game9ja-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #222;
  color: #eee; }

.game9ja-header-item-right {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-right-a {
  position: absolute;
  top: 5px;
  right: 35px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-right-b {
  position: absolute;
  top: 5px;
  right: 65px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-right-c {
  position: absolute;
  top: 5px;
  right: 95px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-right-d {
  position: absolute;
  top: 5px;
  right: 125px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-right-e {
  position: absolute;
  top: 5px;
  right: 155px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-left {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-left-a {
  position: absolute;
  top: 5px;
  left: 50px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-header-item-left-b {
  position: absolute;
  top: 5px;
  left: 80px;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.game9ja-rankings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden; }
  .game9ja-rankings > .game9ja-rankings-header {
    position: relative; }
    .game9ja-rankings > .game9ja-rankings-header > :nth-child(1) {
      /*holding title*/
      margin: 0 auto;
      width: 200px;
      height: 100%;
      padding: 5px;
      font-size: 18px;
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .game9ja-rankings > .game9ja-rankings-pagination {
    position: absolute;
    top: 50px;
    margin: 0;
    left: 0;
    font-size: 14px;
    height: 30px;
    width: 100%;
    background-color: #222;
    color: #eee;
    border-bottom: 0.0325em #777 solid; }
    .game9ja-rankings > .game9ja-rankings-pagination > :nth-child(1) {
      position: absolute;
      bottom: 5px;
      left: 5px;
      font-size: 20px; }
    .game9ja-rankings > .game9ja-rankings-pagination > :nth-child(2) {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 14px;
      cursor: pointer; }
  .game9ja-rankings > .game9ja-rankings-display {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0;
    width: 100%; }
    .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #222;
      color: #eee; }
      .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row {
        height: 100%;
        position: relative;
        border-bottom: #eee solid 1px;
        font-weight: bold; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(1) {
          /*serial number*/
          position: absolute;
          left: 5px;
          width: 30px;
          bottom: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(2) {
          /*helper div to help center the profile pic*/
          position: absolute;
          left: 35px;
          width: 40px;
          height: 30px; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(2) > img {
            /* profile pic*/
            position: absolute;
            top: 2px;
            left: 2px;
            width: 26px;
            height: 26px;
            border-radius: 50%; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(3) {
          /*Full name*/
          position: absolute;
          left: 75px;
          right: 145px;
          bottom: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(4) {
          /*Rating*/
          position: absolute;
          right: 85px;
          bottom: 5px;
          width: 60px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(5) {
          /*Played*/
          position: absolute;
          right: 45px;
          bottom: 5px;
          width: 40px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(6) {
          /*Points*/
          position: absolute;
          right: 5px;
          bottom: 5px;
          width: 40px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        @media only screen and (min-width: 480px) {
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(3) {
            /*Full name*/
            position: absolute;
            left: 75px;
            right: 205px;
            bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(4) {
            /*Rating*/
            position: absolute;
            right: 125px;
            bottom: 5px;
            width: 80px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(5) {
            /*Played*/
            position: absolute;
            right: 65px;
            bottom: 5px;
            width: 60px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(6) {
            /*Points*/
            position: absolute;
            right: 5px;
            bottom: 5px;
            width: 60px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; } }
        @media only screen and (min-width: 768px) {
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(3) {
            /*Full name*/
            position: absolute;
            left: 75px;
            right: 245px;
            bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(4) {
            /*Rating*/
            position: absolute;
            right: 165px;
            bottom: 5px;
            width: 80px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(5) {
            /*Played*/
            position: absolute;
            right: 85px;
            bottom: 5px;
            width: 80px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(1) > .game9ja-rankings-header-row > :nth-child(6) {
            /*Points*/
            position: absolute;
            right: 5px;
            bottom: 5px;
            width: 80px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; } }
    .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) {
      position: absolute;
      top: 30px;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      overflow: auto; }
      .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row {
        height: 40px;
        cursor: pointer;
        position: relative;
        border-bottom: #eee solid 1px;
        font-weight: normal; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(1) {
          /*serial number*/
          position: absolute;
          left: 5px;
          width: 30px;
          bottom: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(2) {
          /*helper div to help center the profile pic*/
          position: absolute;
          left: 35px;
          width: 40px;
          height: 40px; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(2) > img {
            /* profile pic*/
            position: absolute;
            top: 2px;
            left: 2px;
            width: 36px;
            height: 36px;
            border-radius: 50%; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(3) {
          /*Full name*/
          position: absolute;
          left: 75px;
          right: 145px;
          bottom: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(4) {
          /*Rating*/
          position: absolute;
          right: 85px;
          bottom: 5px;
          width: 60px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(5) {
          /*Played*/
          position: absolute;
          right: 45px;
          bottom: 5px;
          width: 40px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(6) {
          /*Points*/
          position: absolute;
          right: 5px;
          bottom: 5px;
          width: 40px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        @media only screen and (min-width: 480px) {
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(3) {
            /*Full name*/
            position: absolute;
            left: 75px;
            right: 205px;
            bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(4) {
            /*Rating*/
            position: absolute;
            right: 125px;
            bottom: 5px;
            width: 80px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(5) {
            /*Played*/
            position: absolute;
            right: 65px;
            bottom: 5px;
            width: 60px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(6) {
            /*Points*/
            position: absolute;
            right: 5px;
            bottom: 5px;
            width: 60px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; } }
        @media only screen and (min-width: 768px) {
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(3) {
            /*Full name*/
            position: absolute;
            left: 75px;
            right: 245px;
            bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(4) {
            /*Rating*/
            position: absolute;
            right: 165px;
            bottom: 5px;
            width: 80px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(5) {
            /*Played*/
            position: absolute;
            right: 85px;
            bottom: 5px;
            width: 80px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row > :nth-child(6) {
            /*Points*/
            position: absolute;
            right: 5px;
            bottom: 5px;
            width: 80px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; } }
      .game9ja-rankings > .game9ja-rankings-display > :nth-child(2) > .game9ja-rankings-body-row:hover {
        background-color: #efeeee; }

/*# sourceMappingURL=rankings.css.map */
