<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../app/css/comment.css" />
        <link rel="stylesheet" href="../app/css/section-container.css" />
        <link rel="stylesheet" href="../app/css/message-input.css" />
        <link rel="stylesheet" href="../app/css/font-awesome-4.7.0.min.css" />
    </head>
    <body>
        <div class="game9ja-comment">  
            <div class="game9ja-comment-body">    
                <div class="game9ja-section-container" data-comment="body">

                    
                </div>
            </div>    

            <div class="game9ja-message-input">
                
                <div data-pop="reply"><!--reply-->
                    <span>
                        <span data-comment="replied-full-name"></span>
                        <i class="fa fa-close" data-close-btn="reply"></i>
                    </span>              
                    <div data-comment="replied-message"></div>
                </div>
                
                <div data-pop="emoji"><!--emoji-->
                    <span>
                        <span data-comment="emoji-tab-1">Smiley</span>
                        <span data-comment="emoji-tab-2">Activity</span>
                        <span data-comment="emoji-tab-3">Misc</span>
                        <i class="fa fa-close"  data-close-btn="emoji"></i>
                    </span>
                    <div data-comment="emoji-list"></div>
                </div>
                
                <div>
                    <div data-comment="emoji"><i class="fa fa-smile-o"></i> </div>
                    <div>
                        <textarea data-comment="input-msg" placeholder="Type a message..."></textarea>
                    </div>           
                </div>
                <i class="fa fa-send" data-comment="send"></i>          
            </div>

        </div>
    </body>
</html>


