<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../app/css/app-main.css" />
        <link rel="stylesheet" href="../app/css/horizontal-list.css" />
        <link rel="stylesheet" href="../app/css/section-container.css" />
        <link rel="stylesheet" href="../app/css/game-view-options.css" />

    </head>
    <body>

        <div class="game9ja-section-container">
            <!--for chess start--->
            <div data-game-option="chess">
                <div class="game-view-options-title">Piece</div>
                <div class="game9a-horizontal-list" data-piece="2d">
                    <!--2D pieces-->
                    <img  class="game-view-options-item" data-name="3dwood" src="{pathname}app/resources/games/chess/2D/pieces/3dwood/wp.png" alt=""/>
                    <img  class="game-view-options-item" data-name="alpha" src="{pathname}app/resources/games/chess/2D/pieces/alpha/wp.png" alt=""/>
                    <img  class="game-view-options-item" data-name="club" src="{pathname}app/resources/games/chess/2D/pieces/club/wp.png" alt=""/>
                    <img  class="game-view-options-item" data-name="modern2" src="{pathname}app/resources/games/chess/2D/pieces/modern2/wp.png" alt=""/>
                </div>
                <div class="game9a-horizontal-list" data-piece="3d">
                    <!--3D pieces-->
                    <img  class="game-view-options-item" data-name="TODO 1" src="{pathname}app/resources/images/default_person.png" alt=""/>
                    <img  class="game-view-options-item" data-name="TODO 2" src="{pathname}app/resources/images/default_person.png" alt=""/>
                </div>
            </div>

            <div data-game-option="chess">
                <div class="game-view-options-title">Board</div>

                <div class="game9a-horizontal-list" data-board="top">
                    <!--Board top-->
                    <img  class="game-view-options-item" data-name="blue" src="{pathname}app/resources/games/chess/board/themes/blue/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="brown" src="{pathname}app/resources/games/chess/board/themes/brown/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="green" src="{pathname}app/resources/games/chess/board/themes/green/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="grey" src="{pathname}app/resources/games/chess/board/themes/grey/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="marblegreen" src="{pathname}app/resources/games/chess/board/themes/marblegreen/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="pink" src="{pathname}app/resources/games/chess/board/themes/pink/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="winboard" src="{pathname}app/resources/games/chess/board/themes/winboard/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="wooddark" src="{pathname}app/resources/games/chess/board/themes/wooddark/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="woodlight" src="{pathname}app/resources/games/chess/board/themes/woodlight/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="woodmid" src="{pathname}app/resources/games/chess/board/themes/woodmid/60.png" alt=""/>
                </div>

                <div class="game9a-horizontal-list" data-board="frame">
                    <!--Board frame-->
                    <img  class="game-view-options-item" data-name="wood_base_1" src="{pathname}app/resources/images/wood_base_1.jpg" alt=""/>
                    <img  class="game-view-options-item" data-name="wood_base_2" src="{pathname}app/resources/images/wood_base_2.jpg" alt=""/>
                </div>    
            </div>

            <div data-game-option="chess">
                <div class="game-view-options-title">Floor</div>

                <div class="game9a-horizontal-list" data-board="floor">
                    <img  class="game-view-options-item" data-name="wood_base_1" src="{pathname}app/resources/images/wood_base_1.jpg" alt=""/>
                    <img  class="game-view-options-item" data-name="wood_base_2" src="{pathname}app/resources/images/wood_base_2.jpg" alt=""/>
                </div>         
            </div>
            <!-- for chess end--->

            <!-- for draughts start--->
            <div data-game-option="draughts">
                <div class="game-view-options-title">Piece</div>
                <div class="game9a-horizontal-list" data-piece="2d">
                    <!--2D pieces-->
                    <img  class="game-view-options-item" data-name="3dwood" src="{pathname}app/resources/games/draughts/2D/pieces/TODO/wp.png" alt=""/>
                    <img  class="game-view-options-item" data-name="alpha" src="{pathname}app/resources/games/draughts/2D/pieces/TODO/wp.png" alt=""/>
                    <img  class="game-view-options-item" data-name="club" src="{pathname}app/resources/games/draughts/2D/pieces/TODO/wp.png" alt=""/>
                    <img  class="game-view-options-item" data-name="modern2" src="{pathname}app/resources/games/draughts/2D/pieces/TODO/wp.png" alt=""/>
                </div>
                <div class="game9a-horizontal-list" data-piece="3d">
                    <!--3D pieces-->
                    <img  class="game-view-options-item" data-name="TODO 1" src="{pathname}app/resources/images/TODO.png" alt=""/>
                    <img  class="game-view-options-item" data-name="TODO 2" src="{pathname}app/resources/images/TODO.png" alt=""/>
                </div>
            </div>

            <div data-game-option="draughts">
                <div class="game-view-options-title">Board</div>

                <div class="game9a-horizontal-list" data-board="top">
                    <!--Board top-->
                    <img  class="game-view-options-item" data-name="blue" src="{pathname}app/resources/games/draughts/board/themes/blue/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="brown" src="{pathname}app/resources/games/draughts/board/themes/brown/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="green" src="{pathname}app/resources/games/draughts/board/themes/green/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="grey" src="{pathname}app/resources/games/draughts/board/themes/grey/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="marblegreen" src="{pathname}app/resources/games/draughts/board/themes/marblegreen/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="pink" src="{pathname}app/resources/games/draughts/board/themes/pink/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="winboard" src="{pathname}app/resources/games/draughts/board/themes/winboard/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="wooddark" src="{pathname}app/resources/games/draughts/board/themes/wooddark/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="woodlight" src="{pathname}app/resources/games/draughts/board/themes/woodlight/60.png" alt=""/>
                    <img  class="game-view-options-item" data-name="woodmid" src="{pathname}app/resources/games/draughts/board/themes/woodmid/60.png" alt=""/>
                </div>

                <div class="game9a-horizontal-list" data-board="frame">
                    <!--Board frame-->
                    <img  class="game-view-options-item" data-name="wood_base_1" src="{pathname}app/resources/images/wood_base_1.jpg" alt=""/>
                    <img  class="game-view-options-item" data-name="wood_base_2" src="{pathname}app/resources/images/wood_base_2.jpg" alt=""/>
                </div>    
            </div>

            <div data-game-option="draughts">
                <div class="game-view-options-title">Floor</div>

                <div class="game9a-horizontal-list" data-board="floor">
                    <img  class="game-view-options-item" data-name="wood_base_1" src="{pathname}app/resources/images/wood_base_1.jpg" alt=""/>
                    <img  class="game-view-options-item" data-name="wood_base_2" src="{pathname}app/resources/images/wood_base_2.jpg" alt=""/>
                </div>         
            </div>
            <!-- for draughts end--->

            <div>
                <div class="game-view-options-pad">
                    <div class="game-view-options-title">Light</div>

                    <input type="range" data-light="intensity" />

                </div>
                <div  class="game-view-options-inline">

                    <div>   
                        <div class="game-view-options-title">Sound</div>
                        <div class="game9a-checkbox-slide">  
                            <input type="checkbox" value="None"  name="check" id="game_view_option_sound_id" checked/>
                            <label for="game_view_option_sound_id"></label>
                        </div>
                    </div>

                    <div> 
                        <div class="game-view-options-title">Drag Piece</div>
                        <div class="game9a-checkbox-slide">  
                            <input type="checkbox" value="None"  name="check" id="game_view_option_drag_piece_id" checked/>
                            <label for="game_view_option_drag_piece_id"></label>
                        </div>
                    </div>
                </div>

            </div>
            
            <div>
                <div class="game-view-options-reset" id="game_view_options_reset">Reset</div>                        
            </div>
        </div>
    </body>
</html>
