<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../app/css/user-show-list.css" />
    </head>
    <body>
        
        <ul class="game9ja-simple-list-c">
            
            <li><div><img name="group_photo" src="{photo_url}" onerror="Main.helper.loadDefaultGroupPhoto(event)" alt=" "/></div></li>
            <li>
                {group_name}
            </li>
            <li>
                <button  class="game9ja-line-button"  name="decline_btn">DELINE</button>  
                <button  class="game9ja-button"  name="join_btn">JOIN</button>
            </li>
            
        </ul>

    </body>
</html>


