<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Game9ja</title>

    </head>

    <body>
        <ul class="game9ja-live-games-list">
            <li>
                {players.0.full_name}<!--like in mongodb access the embedded array via the dot operator-->
            </li>
            <li>
                {players.1.full_name}<!--like in mongodb access the embedded array via the dot operator-->
            </li>
            <li>
                {start_time}
            </li>
            <li>
                <span>{scores.0}-{scores.1}</span><span>{status}</span>
            </li>
            
            <li><img onerror="Main.helper.loadDefaultProfilePhoto(event)" src="{players.0.photo_url}" alt=" "/></li>
            <li><img onerror="Main.helper.loadDefaultProfilePhoto(event)" src="{players.1.photo_url}" alt=""/></li>
        </ul>

    </body>


</html>
