<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../app/css/wait-player.css" />
    </head>
    <body>

        <ul class="game9ja-wait-player">

            <li id='game-wait-player-own-name'>
                <!---Chuks Alimele--> 
            </li>
            <li id='game-wait-player-opponent-name'>
                <!--Okeke Emo-->
            </li>
                                    
            <li id='game-wait-player-own-online'>
                <!--online-->
            </li>
            <li id='game-wait-player-opponent-online'>
                <!--offline-->
            </li>
                   
            <li id='game-wait-player-own-busy'>
                <!--available-->
            </li>
            <li id='game-wait-player-opponent-busy'>
                <!--busy-->
            </li>
            <li id='game-wait-player-countdown'>
                <!--05:00--->  
            </li>
            <li>
                VS
            </li>

            <li><img  id='game-wait-player-own-photo-url' src=""  onerror="Main.helper.loadDefaultProfilePhoto(event)" alt=" "/></li>
            <li><img  id='game-wait-player-opponent-photo-url' src=""  onerror="Main.helper.loadDefaultProfilePhoto(event)" alt=" "/></li>
                   
            <li>
                <div id='game-wait-player-feedback-msg'>
                    Contacting your opponent...
                </div> 
                
            </li>

        </ul>



    </body>

</html>
