<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Game9ja</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        

        <script>
            console.log("script not ready head");
            
            Main.ready(function () {
                console.log("script head");
            });
        </script>

    </head>

    <body>

        <script>
            console.log("script not ready 1");
            
            Main.ready(function () {
                console.log("script 1");
            });
        </script>

        <script>
            console.log("script not ready 2");
            
            Main.ready(function () {
                console.log("script 2");
            });
        </script>


        <!--Mobile Layout -->
        <div>
            <h2>Page 1</h2>
            <button id="btn-page1-back">Back </button>
            <button id="btn-page1-next">Next >> </button>

            <div>
                Header goes here
            </div>


            <div>
                <ul class="list-group">
                    <li class="list-group-item"><div><img src="images/default_person.png" alt=""/><span>Chess</span></div></li>
                    <li class="list-group-item"><div><img src="draughts-image.png"  alt=""/><span>Draughts</span></div></li>
                    <li class="list-group-item"><div><img src="ludo-image.png"  alt=""/><span>Ludo</span></div></li>
                    <li class="list-group-item"><div><img src="solitaire-image.png"  alt=""/><span>Solitaire</span></div></li>
                    <li class="list-group-item"><div><img src="whot-image.png"  alt=""/><span>Whot</span></div></li>
                </ul>
            </div>
        </div>

        <!--Desktop / Tablet Layout -->
        <div>

            <div>
                Header goes here
            </div>


            <div>
                <ul class="list-group">
                    <li class="list-group-item"><div><img src="chess-image.png" alt=""/><span>Chess</span></div></li>
                    <li class="list-group-item"><div><img src="draughts-image.png"  alt=""/><span>Draughts</span></div></li>
                    <li class="list-group-item"><div><img src="ludo-image.png"  alt=""/><span>Ludo</span></div></li>
                    <li class="list-group-item"><div><img src="solitaire-image.png"  alt=""/><span>Solitaire</span></div></li>
                    <li class="list-group-item"><div><img src="whot-image.png"  alt=""/><span>Whot</span></div></li>
                </ul>
            </div>
        </div>

        <script>
            console.log("script not ready 3");
            
            Main.ready(function () {
                console.log("script 3");
            });
        </script>

        <script>
            console.log("script not ready 4");
            
            Main.ready(function () {
                console.log("script 4");
            });
        </script>

        <script>
            console.log("script not ready 5");
            
            Main.ready(function () {

                console.log("script 5");
                
            });


        </script>

    </body>

</html>
